<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>Home</title>
	</head>
	<body>
		<style>
			body {
			  background-image: url('/static/img/6.png');
			  
			}
			</style>

		<center>
			
			<hr>
			<fieldset >
			    <div id="chat_holder">
			    	<h2 id="msg1" >Chat Area..</h2>
			    </div></br>
			    <div style="width:100vh;">
			    	<div class="user_query">
					  <textarea rows="2" cols="65" id="user_input" placeholder="Write a message"></textarea>
					  <i class="fa fa-paper-plane" aria-hidden="false" id="paper-plane-icon"></i>
					</div>
			    </div>
			</fieldset>
		</center>

		<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js?u={{ last_updated }}">
		</script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/vicci.js?u={{ last_updated }}">
		</script>
		<link type="text/css" rel="stylesheet" href="/static/styles/vicci.css?u={{ last_updated }}">

	</body>
</html>